<%- include('../layouts/navbar.ejs')%>



    <main class="user-dashboard"> 

        <% if(users.length > 0) { %>

          <div class="container">
            <h1 class="title1 center"> <span class="owncolor">Участники</span> без команды</h1>
            <div class="row">

            <%  for(let user of users) { %>

                <div id="user-info" class="col s12 m4">
                    <div class="card">
                    <div class="card-image ">
                        <img src="https://images.unsplash.com/photo-1510519138101-570d1dca3d66?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1462&q=80">
                        <span class="parFio card-title"><%= user.parFio %></span>
                    </div>
                    <div class="card-content">
                        <p><%= user.parCity %></p>
                    </div>
                    <div class="card-action">
                        
                        <!-- Modal Trigger -->
                        <a class="modal-trigger more" href="#modal1">Читать далее</a>

                        <!-- Modal Structure -->
                        <div id="modal1" class="modal">
                            <div class="container-wrap modalHead">
                                 <img class="mamberUser materialboxed z-depth-2 responsive-img circle" src="./image/vlad.jpg">
                                 <h5 class="parfioUser center "><%= user.parFio %></h5>
                      
                                <div class="container-wrap rowBlock">
                                    <div class="row rowCont">
                                        <div class=" col s12 m4 ">
                                            <a  href="#" class="par_cont " style="color:rgba(31, 29, 29, 0.8);"> <i class="fas fa-map-marker-alt linkElement"></i> <%= user.parCity %></a>
                                        </div>
                                        <div class=" col s12 m4 " id="devider">
                                           <a href="mailto:<%= user.parEmail %>" class="par_cont" style="color:rgba(31, 29, 29, 0.8);"> <i class="fas fa-at linkElement" ></i> Email</a>
                                        </div>
                                        <div class=" col s12 m4 ">
                                           <a href="tel:<%= user.parPhone %>" class="par_cont" style="color:rgba(31, 29, 29, 0.8);"> <i class="fas fa-mobile-alt linkElement" ></i> Номер</a>
                                        </div>
                                    </div>                            
                                 </div>
                            </div>
                            <div class="modal-content">
                                <div class="container-wrap userBio">

                                    <div class="row" id="userBio">
                                        <div class="col s12 m12 " >

                                            <p>
                                                <span class="fioUser"><span class="parUserOwncolor">Место обучения:</span> </span>
                                                <span class="fioUser"><%= user.parUnivercity %>.</span> 
                                            </p>
                                            <p>
                                                <span class="fioUser"><span class="parUserOwncolor">Дата рождения:</span> </span>
                                                <span class="fioUser"><%= user.parDate %>.</span> 
                                            </p>

                                            <p>
                                                <span class="fioUser">  <span class="parUserOwncolor"> Размер свитшота: </span> </span>
                                                <span class="fioUser"> <%= user.parSize %>.</span> 
                                            </p>

                                            <p>
                                                <span class="fioUser"><span class="parUserOwncolor"> Социальные сети:</span></span>
                                                <span class="fioUser"><a href="<%=user.parSocial %>"> Ссылка. </a></span>
                                            </p>

                                            <p>
                                                <span class="fioUser"><span class="parUserOwncolor"> Должность в оссу:</span> </span>
                                                <span class="fioUser"><%= user.parPosition %>.</span> 
                                            </p>

                                            
                                            <p>
                                                <span class="fioUser"><span class="parUserOwncolor"> Почему хочет участвовать:</span> </span>
                                                <span class="fioUser"><%= user.parWhy %>.</span> 
                                            </p>

                                            <p>
                                                <span class="fioUser">  <span class="parUserOwncolor">  Сильные стороны личности: </span> </span>
                                                <span class="fioUser">  <%= user.parStrengths %>.</span> 
                                            </p>

                                            <p>
                                                <span class="fioUser"><span class="parUserOwncolor"> Общественной деятельность:</span> </span>
                                                <span class="fioUser"><%= user.parExp %>.</span> 
                                            </p>

                                            <p>
                                                <span class="fioUser"><span class="parUserOwncolor"> Сильные качества характера:</span> </span>
                                                <span class="fioUser"><%= user.parCharacter %>.</span> 
                                            </p>
                                            
                                            <p>
                                                <span class="fioUser"><span class="parUserOwncolor"> Мероприятия в которых участвовал:</span> </span>
                                                <span class="fioUser"><%= user.parEventsExp %>.</span> 
                                            </p>

                                            
                                            <p>
                                                <span class="fioUser">  <span class="parUserOwncolor"> Направления общественной деятельности:</span> </span>
                                                <span class="fioUser">  <%= user.parSocityExp %>.</span> 
                                            </p>

                                        </div>    
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a href="#!" class="fioUser modal-close waves-effect waves-green btn-flat">Отказать</a>
                                <a href="#!" class="fioUser modal-close waves-effect waves-green btn-flat">Принять</a>
                          </div>
                        </div>
                    </div>
                    </div>
                </div>
            <% } %>    
        </div>       

        <% } else { %>
            <h1> В списке нет пользователей </h1>
        <% } %>
          </div>
  
    </main>



<%- include('../layouts/footer.ejs') %>