<%- include('../layouts/navbar.ejs')%>



    <main  class="user-dashboard"> 
     
    <div  class="container teamForm">
        <% if (teams.length > 0 ) { %>
            <h1  class="title1 center"> <span class="owncolor">Таблица</span> Сотрудников</h1>
      <table class="team-table">
      <thead>
        <tr>
            <th>ФИО</th>
            <th>Должность</th>
            <th>Edit</th>
            <th>Delete</th>
            <th>Add</th>
        </tr>
      </thead>
      <% for (let team of teams ) { %>
      <tbody>
        <tr>
          <td><%= team.surname %> <%= team.name%> <%= team.secondName%></td>
          <td><%= team.position %> </td>
          <td> 
          <a  href="/admin/detail-teammate/<%= team.id %>"  class="teamEdit " > <i class="fas fa-user-edit"> </i> </a>
          </td>
          <td>
          <form class="adminInt" id="delete-teammate" action="/admin/delete-mate" method="POST"> 
            <input type="hidden" name="_csrf" value="<%=csrfToken%>">
            <input type="hidden" value="<%= team.id %>" name="teamMateId">
            <button type="submint"  class="teamDelete">  <i class=" fas fa-user-minus"></i> </button>
          </form>
          </td>
          <td>
            <form class="adminInt"  action="/admin/add-camp" method="POST"> 
              <input type="hidden" name="_csrf" value="<%=csrfToken%>">

              <input type="hidden" value="<%= team.name %>" name="teamMateName">
              <input type="hidden" value="<%= team.secondName %>" name="teamMateSecondName">
              <input type="hidden" value="<%= team.surname %>" name="teamMateSurname">
              <input type="hidden" value="<%= team.position %>" name="teamMatePosition">
              <input type="hidden" value="<%= team.vk %>" name="teamMateVk">
              <input type="hidden" value="<%= team.instagram %>" name="teamMateInstagram">
              <input type="hidden" value="<%= team.email %>" name="teamMateEmail">
              <input type="hidden" value="<%= team.photo %>" name="teamMatePhoto">
              
              <button type="submint"  class="teamDelete">  <i class="fas fa-plus"></i> </button>
            </form>
          </td>
        </tr>
      </tbody>
      <% } %>
    </table>
    <section class="pagination">
      <ul class="pagination center">
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
        <li class="active"><a href="/admin/adminTeam/?page=1">1</a></li>
        <li class="waves-effect"><a href="/admin/adminTeam/?page=2">2</a></li>
        <li class="waves-effect"><a href="/admin/adminTeam/?page=3">3</a></li>
        <li class="waves-effect"><a href="/admin/adminTeam/?page=4">4</a></li>
        <li class="waves-effect"><a href="/admin/adminTeam/?page=5">5</a></li>
        <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
    </ul>
   </section>
    <form action="/admin/add-teammate">
        <button class="right loginButton "  type="submit">Добавить</button>
    </form>
 
   <% } else { %>
   <div class="container-wrap">
        <h1 class="center error"> Сотрудников  в штате не утвердили</h1>
        <form action="/admin/add-teammate">
            <button class="right loginButton "  type="submit">Добавить</button>
        </form>
    </div>
   <% } %>
    </div>
    </main>



<%- include('../layouts/footer.ejs') %>