<%- include('../layouts/navbar.ejs')%>



    <main  class="user-dashboard"> 
   
    <div  class="container teamForm">
        <% if (admins.length > 0   ) { %>
      <table class="team-table highlight">
      <% if (errorMessage) { %>
      <div class="error" ><%= errorMessage %></div>
      <% } %>
      <caption class="accepted"> Администраторы </caption>
      <thead>
        <tr>
            <th>Имя</th>
            <th> Фамилия </th>
            <th>Email</th>  
            <th> Управление </th>
        </tr>
      </thead>
      <% for (let admin of admins ) { %>
      <tbody >
        <tr class="if <%= admin.id === 1  ? 'hidden' : '' %>">
            <td> <%= admin.name%> </td>
            <td> <%= admin.surname %> </td>
            <td><a href="mailto:<%= admin.email %>" class="teamDelete"> <i class="fas fa-envelope"></i> </a></td>
            <td > 
            <a href="/admin/reset" class="teamEdit"><i class="fas fa-user-edit"></i> </a>  
                <form class="adminInt" id="delete-teammate" action="/admin/delete-admin" method="POST"> 
                    <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                    <input type="hidden" value="<%= admin.id %>" name="adminId">
                    <button type="submint"  class="teamDelete">  <i class="fas fa-user-times"></i> </button>
                </form>
          </td>
        </tr>
        
      </tbody>
      <% } %>
    </table>
    
   

        <button data-target="modal2"  class="right loginButton  modal-trigger" >Добавить</button>
        <%for (let role of roles) {%>
        <div id="modal2" class="modal"> 
            <div class="modal-content" style="text-align: left">
                <h5 class="regTitle center">Добавить администратора</h5>
                
                <div class="row">
                            
                <div class="input-field col s12">

                    <%- include('./add-admin.ejs', {role:role} )%>
                    
                </div>
            </div>

            <div class="modal-footer">
                 <a href="javascript:{}" onclick="document.getElementById('add-admin').submit();" style="color:#f2d243;" class="fioUser modal-close waves-effect waves-green btn-flat">Принять</a>
                <a href="#!" style="color:#f2d243;" class="fioUser modal-close waves-effect waves-green btn-flat">Закрыть</a>
             </div>
            </div>
        </div>

        <%  }  %>
  
 
   <% } else { %>
   <div class="container-wrap">
        <h1 class="center error"> Вы пока не добавили администраторов в список</h1>
        <button data-target="modal2"  class="right loginButton  modal-trigger" >Добавить</button>
        <div id="modal2" class="modal"> 
            <div class="modal-content" style="text-align: left">
                <h5 class="regTitle center">Добавить администратора</h5>
                <div class="row">
                            
                <div class="input-field col s12">

                    <%- include('./add-admin.ejs')%>
                    
                </div>
            </div>
            <div class="modal-footer">
                 <a href="javascript:{}" onclick="document.getElementById('add-admin').submit();" style="color:#f2d243;" class="fioUser modal-close waves-effect waves-green btn-flat">Принять</a>
                <a href="#!" style="color:#f2d243;" class="fioUser modal-close waves-effect waves-green btn-flat">Закрыть</a>
             </div>
            </div>
        </div>
  
    </div>
   <% } %>
    </div>
    </main>



<%- include('../layouts/footer.ejs') %>