<%- include('../layouts/navbar.ejs')%>



    <main  class="user-dashboard"> 
     
    <div  class="container teamForm">
            <% if (teams.length > 0 ) { %>
            <h1  class="title1 center"> <span class="owncolor">Таблица</span> Сотрудников</h1>
      <table class="team-table">
      <thead>
        <tr>
            <th>ФИО</th>
            <th>Должность</th>
            <th>ВК</th>
            <th>Instagram</th>
            <th>Телефон</th>
            <th class="center">Управление</th>
        </tr>
      </thead>
      <% for (let team of teams ) { %>
      <tbody>
        <tr>
          <td><%= team.surname %> <%= team.name%> <%= team.secondName%></td>
          <td><%= team.position %> </td>
          <td><a class="teamLink" href="<%= team.vk %>"> Vkontact </a></td>
          <td><a class="teamLink"   href="<%= team.instagram %>"> Instagram </a></td>
          <td><a href="tel:<%= team.phone %>" class="teamLink"> Номер</a> </td>
          <td class="center"> 
        
    <a  href="/admin/detail-teammate/<%= team.id %>"  class="teamEdit " > <i class="fas fa-user-edit"> </i> </a>            


    <form class="adminInt" id="delete-teammate" action="/admin/delete-mate" method="POST"> 
        <input type="hidden" value="<%= team.id %>" name="teamMateId">
        <a href="javascript:{}" onclick="document.getElementById('delete-teammate').submit();" class="teamDelete"><i class=" fas fa-user-minus"></i></a>
    </form>
            
            
          </td>
        </tr>
        
      </tbody>
      <% } %>
    </table>
    
    <form action="/admin/add-teammate">
        <button class="right loginButton "  type="submit">Добавить</button>
    </form>

    
   <% } else { %>
   <div class="container-wrap">
        <h1 class="center error"> Сотрудников  в штате не утвердили</h1>
        <form action="/admin/add-teammate">
            <button class="right loginButton "  type="submit">Добавить</button>
        </form>
    </div>
   <% } %>
    </div>
    </main>



<%- include('../layouts/footer.ejs') %>