<%- include('../layouts/navbar.ejs')%>



    <main  class="user-dashboard"> 
     
    <div class="container">
            <% if (teams.length > 0 ) { %>
            <h1  class="title1 center"> <span class="owncolor">Таблица</span> Сотрудников</h1>
      <table class="team-table">
      <thead>
        <tr>
            <th>ФИО</th>
            <th>Должность</th>
            <th>ВК</th>
            <th>Instagram</th>
            <th>Телефон</th>
            <th class="center">Управление</th>
        </tr>
      </thead>
      <% for (let team of teams ) { %>
      <tbody>
        <tr>
          <td><%= team.surname %> <%= team.name%> <%= team.secondName%></td>
          <td><%= team.position %> </td>
          <td><a class="teamLink" href="<%= team.vk %>"> Vkontact </a></td>
          <td><a class="teamLink"   href="<%= team.instagram %>"> Instagram </a></td>
          <td><a href="tel:<%= team.phone %>" class="teamLink"> Номер</a> </td>
          <td class="center"> 
            <%- include('./editTeam.ejs')%>           
            
          </td>
        </tr>
        
      </tbody>
      <% } %>
    </table>
    <button data-target="modal2"  class="right loginButton modal-trigger"  type="submit">Добавить</button>

    <div id="modal2" class="modal">  
                  
    <div class="modal-content" style="text-align: left">
         <div class="container-wrap">
 
        <form  id="add-team" action ="/adminAddMate" method = "POST" >
        <div class="container">
                <h1 style="font-size: 25px; color: white;" class="title1 center"> <span class="owncolor">Добавить</span> Сотрудника</h1>
            <div class="row">

            <div class="row">
                <div class="input-field col s12">
                    <input type="text" placeholder="Заполните поле", name="mateSurname" id="mateSurname">
                    <label style="font-size: 18px;" for="mateSurname">Фамилия</label>
                </div>
            </div>
        
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" placeholder="Заполните поле", name="mateName" id="mateName">
                    <label style="font-size: 18px;" for="mateName">Имя</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <input type="text" placeholder="Заполните поле", name="mateSecondName" id="mateSecondName">
                    <label style="font-size: 18px;" for="mateSecondName">Отчество</label>
                </div>
            </div>


            <div class="row">
                <div class="input-field col s12">
                    <input type="text" placeholder="Заполните поле", name="matePosition" id="matePosition">
                    <label style="font-size: 18px;" for="matePosition">Должность</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <input type="text" placeholder="Заполните поле", name="mateVK" id="mateVK">
                    <label style="font-size: 18px;" for="mateVK">VK</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <input type="text" placeholder="Заполните поле", name="mateInstagram" id="mateInstagram">
                    <label style="font-size: 18px;" for="mateInstagram">Instagram</label>
                </div>
            </div>
            
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" placeholder="Заполните поле", name="matePhone" id="matePhone">
                    <label style="font-size: 18px;" for="mateInstagram">Номер телефона</label>
                </div>
            </div>
            
            <div class="row">
                <label for="avatar">Choose a profile picture:</label>
                <input name="matePhoto" id="avatar" type="file"  accept="image/png, image/jpeg" > 
            </div>
        </form>
    </div>

      
        </div> 
    </div>
    
</div>
<div class="modal-footer">
    <a href="javascript:{}" onclick="document.getElementById('add-team').submit();" style="color:#f2d243;" class="fioUser right modal-close waves-effect waves-green btn-flat">Принять</a>
    <a href="#!" style="color:#f2d243;" class="fioUser modal-close waves-effect waves-green btn-flat">Закрыть</a>
</div>

   <% } else { %>
   <div class="container-wrap">
        <h1 class="center error"> Сотрудников  в штате не утвердили</h1>
        <button data-target="modal2"  class="right loginButton modal-trigger"  type="submit">Добавить</button>
        <div id="modal2" class="modal">  
                  
        <div class="modal-content" style="text-align: left">
             <div class="container-wrap">
     
            <form  id="add-team" action ="/adminAddMate" method = "POST" >
            <div class="container">
                    <h1 style="font-size: 25px; color: white;" class="title1 center"> <span class="owncolor">Добавить</span> Сотрудника</h1>
                <div class="row">
    
                <div class="row">
                    <div class="input-field col s12">
                        <input type="text" placeholder="Заполните поле", name="mateSurname" id="mateSurname">
                        <label style="font-size: 18px;" for="mateSurname">Фамилия</label>
                    </div>
                </div>
            
                <div class="row">
                    <div class="input-field col s12">
                        <input type="text" placeholder="Заполните поле", name="mateName" id="mateName">
                        <label style="font-size: 18px;" for="mateName">Имя</label>
                    </div>
                </div>
    
                <div class="row">
                    <div class="input-field col s12">
                        <input type="text" placeholder="Заполните поле", name="mateSecondName" id="mateSecondName">
                        <label style="font-size: 18px;" for="mateSecondName">Отчество</label>
                    </div>
                </div>
    
    
                <div class="row">
                    <div class="input-field col s12">
                        <input type="text" placeholder="Заполните поле", name="matePosition" id="matePosition">
                        <label style="font-size: 18px;" for="matePosition">Должность</label>
                    </div>
                </div>
    
                <div class="row">
                    <div class="input-field col s12">
                        <input type="text" placeholder="Заполните поле", name="mateVK" id="mateVK">
                        <label style="font-size: 18px;" for="mateVK">VK</label>
                    </div>
                </div>
    
                <div class="row">
                    <div class="input-field col s12">
                        <input type="text" placeholder="Заполните поле", name="mateInstagram" id="mateInstagram">
                        <label style="font-size: 18px;" for="mateInstagram">Instagram</label>
                    </div>
                </div>
                
                <div class="row">
                    <div class="input-field col s12">
                        <input type="tel"  placeholder="Заполните поле", name="matePhone" id="matePhone"  pattern="[8]{1}[0-9]{3}[0-9]{3}[0-9]{2}[0-9]{2}"
                        required >
                        <label style="font-size: 18px;" for="mateInstagram">Номер телефона</label>
                    </div>
                </div>
                
                <div class="row">
                    <label for="avatar">Choose a profile picture:</label>
                    <input name="matePhoto" id="avatar" type="file"  accept="image/png, image/jpeg" > 
                </div>
            </form>
        </div>
    
          
            </div> 
        </div>
        
    </div>
    <div class="modal-footer">
        <a href="javascript:{}" onclick="document.getElementById('add-team').submit();" style="color:#f2d243;" class="fioUser right modal-close waves-effect waves-green btn-flat">Принять</a>
        <a href="#!" style="color:#f2d243;" class="fioUser modal-close waves-effect waves-green btn-flat">Закрыть</a>
    </div>
    </div>
   
   <% } %>
    </div>
    </main>



<%- include('../layouts/footer.ejs') %>