<%- include('../layouts/navbar.ejs')%>



    <main class="user-dashboard"> 

        <% if(users.length > 0) { %>

          <div class="container">
            <h1 class="title1 center"> <span class="owncolor">Участники</span> без команды</h1>
            <div class="row">

            <%  for(let user of users) { %>

                <div id="user-info" class="col s12 m4">
                    <div class="card">
                    <div class="card-image ">
                        <img src="https://images.unsplash.com/photo-1510519138101-570d1dca3d66?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1462&q=80">
                        <span class="parFio card-title"><%= user.parFio %></span>
                    </div>
                    <div class="card-content">
                        <p><%= user.parCity %></p>
                    </div>
                    <div class="card-action">
                        
                        <!-- Modal Trigger -->
                        <a class="modal-trigger more" href="#modal1">Читать далее</a>

                        <!-- Modal Structure -->
                        <div id="modal1" class="modal">
                            <div class="container-wrap modalHead">
                                 <img class="mamberUser materialboxed z-depth-3 responsive-img circle" src="./image/vlad.jpg">
                            </div>
                            <div class="modal-content">
                                <div class="container-wrap userBio">
                                    <div class="row">
                                        <div class="col s12 m6 " id="userBio">

                                            <span class="fioUser">  <span class="userDateColor"> ФИО</span> </span>
                                            <p>
                                                <span class="fioUser">  <%= user.parFio %>  </span>
                                            </p> 
                                             
                                            <span class="fioUser">  <span class="userDateColor"> Город</span> </span>
                                            <p>
                                                <span class="fioUser">   <%= user.parCity %>  </span> 
                                            <p>  

                                            <span class="fioUser">  <span class="userDateColor"> Социальные сети</span> </span>
                                            <p>
                                                <span class="fioUser"> <a href="<%=user.parSocial %>"> Ссылка </a>  </span>
                                            </p>

                                            <span class="fioUser">  <span class="userDateColor"> Номер телефона</span> </span>
                                            <p>
                                                <span class="fioUser">  <%= user.parPhone %> </span> 
                                            <p>

                                            <span class="fioUser">  <span class="userDateColor"> Направления общественной деятельности</span> </span>
                                            <p>
                                                <span class="fioUser">  <%= user.parSocityExp %> </span> 
                                            <p>

                                            <span class="fioUser">  <span class="userDateColor">  Сильные стороны личности </span> </span>
                                            <p>
                                                <span class="fioUser">  <%= user.parStrengths %> </span> 
                                            <p>
                                            <p>
                                                <span class="fioUser">  <span class="userDateColor"> Размер свитшота</span> <%= user.parSize  %> </span> 
                                            <p>

                                           
                                        </div>
                                        <div class="col s12 m6">

                                            <span class="fioUser"><span class="userDateColor"> Общественной деятельность</span> </span>
                                            <p>
                                                <span class="fioUser"><%= user.parExp %></span> 
                                            <p>
        
                                            <span class="fioUser"><span class="userDateColor"> Email</span> </span>
                                            <p>
                                                <span class="fioUser"><%= user.parEmail %></span> 
                                            <p>  
       
                                            <span class="fioUser"><span class="userDateColor"> Должность в оссу</span> </span>
                                            <p>
                                                <span class="fioUser">  <span class="userDateColor"> Должность в оссу: </span> <%= user.parPosition %> </span> 
                                            <p>

                                            <p>
                                                <span class="fioUser">  <span class="userDateColor"> Дата рождения: </span> <%= user.parDate %> </span> 
                                            <p>

                                          
                                            <p>
                                                <span class="fioUser">  <span class="userDateColor"> Мероприятия в которых участвовал: </span> <%= user.parEventsExp %> </span> 
                                            <p>
    
                                            <p>
                                                <span class="fioUser">  <span class="userDateColor"> Сильные качества характера: </span> <%= user.parCharacter %> </span> 
                                            <p>
                                               
                                            <p>
                                                <span class="fioUser">  <span class="userDateColor"> Почему хочет участвовать:</span> <%= user.parWhy %> </span> 
                                            <p> 

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a class="waves-effect waves-light btn">Принять</a>
                                <a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>Отклонить</a>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            <% } %>    
        </div>       

        <% } else { %>
            <h1> В списке нет пользователей </h1>
        <% } %>
          </div>
  
    </main>



<%- include('../layouts/footer.ejs') %>