<%- include('../layouts/navbar.ejs')%>

    <div class=" container teamForm">
    <% if (errorMessage) { %>
      <div class="error" ><%= errorMessage %></div>
      <% } %>
    <form  id="add-team" action ="/admin/<%if (editing) { %>edit-teammate<% } else { %>admin-addTeammate<% } %>" method = "POST" enctype="multipart/form-data" > 
         <div class="container-wrap">
           
            <div class="container-wrap">
                <h1 style="font-size: 2=35px; " class="title1 center"> <span class="owncolor"><% if (editing) { %> Изменить <% } else { %> Добавить <% } %></span> профиль</h1>
            <div class="row">

            <div class="row">
                <div class="input-field col s4">
                    <input type="text"  name="mateSurname" id="mateSurname" class="<%= validationErrors.find(e => e.param === 'mateSurname') ? 'invalid' : '' %>" value="<% if (editing) { %> <%=teammate.surname %> <% } else {%><%=oldInput.mateSurname%><% } %>">
                    <label style="font-size: 18px;" for="mateSurname">Фамилия</label>
                    
                </div>
                <div class="input-field col s4">
                    <input type="text"  name="mateName" id="mateName"  class="<%= validationErrors.find(e => e.param === 'mateName') ? 'invalid' : '' %>"  value="<% if (editing) { %> <%=teammate.name %> <% } else {%><%=oldInput.mateName%><% } %>">
                    <label style="font-size: 18px;" for="mateName">Имя</label>
                </div>
                <div class="input-field col s4">
                    <input type="text"  name="mateSecondName" id="mateSecondName" class="<%= validationErrors.find(e => e.param === 'mateSecondName') ? 'invalid' : '' %>"   value="<% if (editing) { %><%=teammate.secondName %><% } else {%><%=oldInput.mateSecondName %><% } %>">
                    <label style="font-size: 18px;" for="mateSecondName">Отчество</label>
                </div>
            </div>
        

            <div class="row">
                <div class="input-field col s4">
                    <input type="text"  name="mateEmail" id="mateEmail" class="<%= validationErrors.find(e => e.param === 'mateEmail') ? 'invalid' : '' %>"  value="<% if (editing) { %> <%=teammate.email %> <% } else {%><%=oldInput.mateEmail %><% } %>">
                    <label style="font-size: 18px;" for="mateEmail">E-mail</label>
                </div>
                <div class="input-field col s4">
                    <input type="text"  name="mateVK" id="mateVK"  class="<%= validationErrors.find(e => e.param === 'mateVK') ? 'invalid' : '' %>"  value="<% if (editing) { %> <%=teammate.vk %> <% } else {%><%=oldInput.mateVk %><% } %>">
                    <label style="font-size: 18px;" for="mateVK">VK</label>
                </div>
                <div class="input-field col s4">
                    <input type="text"  name="mateInstagram" id="mateInstagram" class="<%= validationErrors.find(e => e.param === 'mateInstagram') ? 'invalid' : '' %>"  value="<% if (editing) { %> <%=teammate.instagram %> <% } else {%><%=oldInput.mateInstagram %><% } %>">
                    <label style="font-size: 18px;" for="mateInstagram">Instagram</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6">
                    <input type="text" name="matePosition" id="matePosition" class="<%= validationErrors.find(e => e.param === 'matePosition') ? 'invalid' : '' %>"  value="<% if (editing) { %> <%=teammate.position %> <% }  else {%><%=oldInput.matePosition %><% } %>">
                    <label style="font-size: 18px;" for="matePosition">Должность</label>
                </div>
                <div class="input-field col s6">
                    <input type="text"  name="matePhone" id="matePhone" class="<%= validationErrors.find(e => e.param === 'matePhone') ? 'invalid' : '' %>"   value="<% if (editing) { %> <%=teammate.phone %> <% }  else {%><%=oldInput.matePhone %><% } %>">
                    <label style="font-size: 18px;" for="matePhone">Номер телефона</label>
                </div>
            </div>

            
         

            <div class="row">
                <div class="input-field col s12">
                    <input type="text" name="mateCrowns" id="mateCrowns" class="<%= validationErrors.find(e => e.param === 'mateCrowns') ? 'invalid' : '' %>"  value="<% if (editing) { %> <%=teammate.crowns %> <% }  else {%><%=oldInput.mateCrowns %><% } %>">
                    <label style="font-size: 18px; " for="mateCrowns">В чем вы хороши больше всего</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <input type="text"  name="mateHobby" id="mateHobby" class="<%= validationErrors.find(e => e.param === 'mateHobby') ? 'invalid' : '' %>"  value="<% if (editing) { %> <%=teammate.hobby %> <% }  else {%><%=oldInput.mateHobby %><% } %>">
                    <label style="font-size: 18px;" for="mateHobby">Ваши увлечения и интересы</label>
                </div>
            </div>

            <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <textarea id="textarea1"  name="mateAbout"  class="<%= validationErrors.find(e => e.param === 'mateAbout') ? 'invalid' : '' %>"  class="materialize-textarea" ><% if (editing) { %> <%=teammate.about %> <% }  else {%><%=oldInput.mateAbout %><% } %></textarea>
                  <label for="textarea1" style="font-size: 18px;">Расскажите о себе</label>
                </div>
              </div>
            </form>
          </div>
            
            <div class="row">
                <label class="avatar" for="avatar"><i class="fas fa-camera-retro"></i> Выбрать фото</label>
                <input class="inputfile" name="image" id="avatar" type="file"  accept="image/png, image/jpeg" > 
            </div>      
        </div>
        <% if (editing) { %>
             <input class="hidden" value="<%= teammate.id%>" name="teamId"/>
        <% } %>
     
    </div> 
    <input type="hidden" name="_csrf" value="<%=csrfToken%>">
    <button class="right loginButton" type="submit"> <% if(editing) { %> Изменить <% } else { %>Добавить <% } %></button>
    </form>

         <a class="right linkButton"   href="/admin/adminTeam/?page=1"  >Назад</a>
 
</div>
</div>
        
   

<%- include('../layouts/footer.ejs') %>