
<%- include('../layouts/navbar.ejs')%>
<header class="profile-header"> 

        <div class="container valign">
                <div class="row">
                    <div class="col l12">
                        <h4 class="center-align profile-text-header"> Привет, это я  </h4>
                    <hr class="line-up ">
                        <h3 class="center-align name-title-profile"><%= teammate.name %> <%= teammate.surname %></h3> 
                    <hr class="line-down">
                    <br>
                    <p class="center-align profile-text-header"><%= teammate.position %></p>
                    </div>
                </div>
            </div>
            <div class="center profile-arrow">
                <a  href="#teammate" class="menu2"> <i class=" far fa-arrow-alt-circle-down"></i> </a>
            <div>
</header>

<section id="teammate">
    <div class="container">
        <div class="row edit-person ">
            <div class="col s12 m4">
                <img class="mamber materialboxed z-depth-3 responsive-img circle" width="650" src="/image/sonina.jpg">
            
                <ul class="contact-info">
                <span id="per-info">  Персональная информация </span> 
                    <li>ФИО:</li>
                    <li class="team-info"> <%= teammate.surname %> <%= teammate.name %> <%= teammate.secondName %>  </li> 
                    <li>ДОЛЖНОСТЬ:</li>
                    <li class="team-info"> <%= teammate.position %> </li> 
                    <li>НОМЕР-ТЕЛЕФОНА:</li>
                    <li class="team-info"> <%= teammate.phone %> </li> 
                  
                </ul>
            
            
            </div>
    
        <div class="col s12 m8">
            <div class="selfpresent">
            <p class=" team-title  profile-text"><%= teammate.name %> <%= teammate.surname %> </p>
            <p class="team-desctiption"> <%= teammate.position %></p> 
            <p class="team-desctiption"><%= teammate.about%></p>
            <p class="additional-info"> 
                <ul  class="collapsible">
                <li>
                    <div  class="collapsible-header"><i class="fas fa-chalkboard-teacher"></i>В чем я хорош больше всего?</div>
                    <div class="collapsible-body"><span><%=teammate.crowns%>.</span></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="fas fa-book-reader"></i>Мои увлечения и интересы?</div>
                    <div class="collapsible-body"><span><%= teammate.hobby%></span></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="fas fa-mobile"></i>Как со мной связаться?</div>
                    <div class="collapsible-body"><span>
                    <ul>   
                        <li>ВКОНТАКТЕ:</li>
                        <li > <a class="team-info" href="<%= teammate.vk %>"> <%= teammate.vk %> </a> </li> 
                        <li>INSTAGRAM:</li>
                        <li> <a class="team-info" href="<%= teammate.instagram %>"> <%= teammate.instagram %> </a>  </li> 
                        <li>E-mail:</li>
                        <li> <a class="team-info" href="mailto:<%= teammate.email %>"> <%= teammate.email%> </a>  </li>
                    </ul>
                    </span></div>
                </li>
            </ul>
            </p>
        </div>
       </div>     
    </div>
    <a class="right linkButton" href="/admin/edit-teammate/<%= teammate.id %>?edit=ture">Изменить </a>

        <form action="/admin/adminTeam">
             <button class="right loginButton"  type="submit" >Назад</button>
        </form>
    </div>
</section>

<%- include('../layouts/footer.ejs') %>
