<%- include('../layouts/navbar.ejs')%>

<main  class="user-dashboard"> 
     
<div  class="container teamForm modalHead">

<img class="mamberUser materialboxed z-depth-2 responsive-img circle" src="../image/vlad.jpg">
<h5 class="parfioUser center "><%= user.parFio %></h5>

<div class="container-wrap userBio ">


                     
<div class="container-wrap rowBlock">
                    
    <div class="row rowCont">
                        
            <div class=" col s12 m4 ">
                                    
                <a  href="#" class="par_cont " style="color:rgba(31, 29, 29, 0.8);"> <i class="fas fa-map-marker-alt linkElement"></i> <%= user.parCity %></a>
                                
            </div>
                                
            <div class=" col s12 m4 " id="devider">
                                
                <a href="mailto:<%= user.parEmail %>" class="par_cont" style="color:rgba(31, 29, 29, 0.8);"> <i class="fas fa-at linkElement" ></i> Email</a>
                                
            </div>
                                
            <div class=" col s12 m4 ">
                                
                <a href="tel:<%= user.parPhone %>" class="par_cont" style="color:rgba(31, 29, 29, 0.8);"> <i class="fas fa-mobile-alt linkElement" ></i> Номер</a>
                                
            </div>
                    
    </div>                            
                
</div>
 <div class="row" id="userBio">

            <div class="col s12 m12 " >

                <p>
                    <span class="fioUser"><span class="parUserOwncolor">Место обучения:</span> </span>
                    <span class="fioUser"><%= user.parUnivercity %>.</span> 
                </p>

                <p>
                    <span class="fioUser"><span class="parUserOwncolor">Дата рождения:</span> </span>
                    <span id="userDate" class="fioUser"><%=  moment(user.parDate).format('L');%>.</span> 
                </p>

                <p>
                    <span class="fioUser">  <span class="parUserOwncolor"> Размер свитшота: </span> </span>
                    <span class="fioUser"> <%= user.parSize %>.</span> 
                </p>

                <p>
                    <span class="fioUser"><span class="parUserOwncolor"> Социальные сети:</span></span>
                    <span class="fioUser "><a href="<%=user.parSocial %>"> Ссылка. </a></span>
                </p>

                <p>
                    <span class="fioUser"><span class="parUserOwncolor"> Должность в оссу:</span> </span>
                    <span class="fioUser"><%= user.parPosition %>.</span> 
                </p>

                <p>
                    <span class="fioUser"><span class="parUserOwncolor"> Почему хочет участвовать:</span> </span>
                    <span class="fioUser"><%= user.parWhy %>.</span> 
                </p>

                <p>
                    <span class="fioUser">  <span class="parUserOwncolor">  Сильные стороны личности: </span> </span>
                    <span class="fioUser">  <%= user.parStrengths %>.</span> 
                </p>

                <p>
                    <span class="fioUser"><span class="parUserOwncolor"> Общественная деятельность:</span> </span>
                    <span class="fioUser"><%= user.parExp %>.</span> 
                </p>

                <p>
                    <span class="fioUser"><span class="parUserOwncolor"> Сильные качества характера:</span> </span>
                    <span class="fioUser"><%= user.parCharacter %>.</span> 
                </p>
                            
                <p>
                    <span class="fioUser"><span class="parUserOwncolor"> Мероприятия, в которых участвовал:</span> </span>
                    <span class="fioUser"><%= user.parEventsExp %>.</span> 
                </p>

                <p>
                    <span class="fioUser">  <span class="parUserOwncolor"> Направления общественной деятельности:</span> </span>
                    <span class="fioUser">  <%= user.parSocityExp %>.</span> 
                </p>

            </div>
   </div>
</div>
       
</div>


</main>
<%- include('../layouts/footer.ejs') %>