 <%- include('../layouts/navbar.ejs')%>
 <header>

 <!-- Divide navbar for 2 type of users -->
         <div class="text-box">
         <h1 class="heading-primary">
             <span class="heading-primary-main">
                 <h2 class=" video-title">Межрегиональный
                     лагерь
                     студенческого
                     самоуправления и
                     личностного
                     развития <p><span class="vector"> <br>«Вектор»
                         </span> </p>
                 </h2>
             </span>
             <span class="heading-primary-sub">
                 <h6 class="subtitle-video header col s12 light">6-10 октября, Пятигорск, база «Машук» </h6>
             </span>
                  <a href="#register" class="smooth"> <button class="regbutton"> <span class="regword">Регистрация</span></button></a>
             </p>
         </h1>
     </div>
         <video id="video" poster="./image/poster.jpg" playsinline autobuffer autoplay muted loop>
             <source src="./video/vector.mp4" type="video/mp4">
         </video>
     </div>
    
     </div>
</header>
 <!-- About vector and team -->
<main class="landding-page">
 <section id="aboutvector">
 <div class="container">
     <div class="row">
         <div class="col s12 m5">
             <h4 class="title1 center "> <span class="owncolor">О нас</span> </h4>
             <div class="center">
                 <p class="defabout light">Межрегиональный лагерь студенческого самоуправления и личностного
                     развития СКФО
                     «Вектор» -
                     ежегодное мероприятие, позволяющее объединить студенческую молодежь и повысить
                     результативность работы
                     органов студенческого самоуправления в образовательных организациях округа.
                     Программа направлена на личностный рост и объединение лидеров общественного мнения в
                     молодежной среде.
                 </p>
             </div>
         </div>
         <div class="col s12 m7">
             <div class="container-wrap">
                 <img class="defenition" src="./image/pro5.jpg">
             </div>
         </div>
     </div>
 </div>
</section>

<!-- Statistic  -->
<section id="statistic">
     <div class="container-wrap">
         <div class="row">
             <div class="numbers col s12 m4">
                 <div class="center">
                     <h6 class="card-title center statitle">5 <br> лет</h6>
                     <hr>
                     <h5 class="center statinfo"> Время реализации <br> проекта</h5>
                 </div>
             </div>

             <div class="numbers col s12 m4">
                 <div class="center">
                     <h6 class="card-title center statitle">450+ <br> лидеров</h6>
                     <hr>
                     <h5 class="center statinfo"> Прошли обучение <br>в рамках лагеря </h5>
                 </div>
             </div>

             <div class="numbers col s12 m4">
                 <div class="center">
                     <h6 class="card-title center statitle">20+ <br> экспертов</h6>
                     <hr>
                     <h5 class="center  statinfo"> Приняли участие в образовательной <br> программе </h5>
                 </div>
             </div>

         </div>
     </div>
 </div>
 </div>
</section>


<!--Info about section-->
<section id="infoa">
 <div id="info" class="camppro">
     <div class="section section-icons lighten-4 center\">
         <div class="container">
             <div class="row">
                 <h3 class="title1 center "> <span class="owncolor">Про</span>лагерь
                 </h3>
                 
                 <div class="col s12 m4">
                     <div class="card-item">
                         <h2 class="center">
                             <span class="itempro"><i class="fas fa-graduation-cap"></i></span>
                         </h2>
                         <h5 class="subtitle center">Обучение</h5>
                         <p class="def light">Студенческое самоуправление и технология организации выборов
                         </p>
                     </div>
                 </div>
                 <div class="col s12 m4">
                     <div class="card-item">
                         <h2 class="center">
                             <span class="itempro"><i class="far fa-star"></i></span>
                         </h2>
                         <h5 class="subtitle center">Личностный рост</h5>
                         <p class="def light">Развитие личностных компетенций
                         </p>
                     </div>
                 </div>
                 <div class="col s12 m4">
                     <div class="card-item">
                         <h2 class="center">
                             <span class="itempro"><i class="far fa-handshake"></i></span>
                         </h2>
                         <h5 class="subtitle center">Проекты</h5>
                         <p class="def light">Проектная сессия по развитию студенческого сообщества
                         </p>
                     </div>
                 </div>
             </div>
             <div class="row">
                 <div class="col s12 m4">
                     <div class="card-item">
                         <h2 class="center">
                             <span class="itempro"><i class="fas fa-cogs "></i></span>
                         </h2>
                         <h5 class="subtitle center">Ассессмент</h5>
                         <p class="def light">Оценка компетенций и рекомендации по их дальнейшему развитию
                         </p>
                     </div>
                 </div>
                 <div class="col s12 m4">
                     <div class="card-item">
                         <h2 class="center">
                             <span class="itempro"> <i class="fas fa-users "></i></span>
                         </h2>
                         <h5 class="subtitle center">Деловые игры</h5>
                         <p class="def light">Высокая интерактивность программы
                         </p>
                     </div>
                 </div>
                 <div class="col s12 m4">
                     <div class="card-item">
                         <h2 class="center">
                             <span class="itempro"><i class="fas fa-grin-tears"></i></span>
                         </h2>
                         <h5 class="subtitle center">Эмоции</h5>
                         <p class="def light">Яркие впечатления, новые знакомства, интересное общение
                         </p>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </div>
</section>

<!-- Register section -->

<section id="register">
 <div class="register">
     <div class="container-wrap center">
         <h3 class="title center flow-text"><span class="owncolor">Прими</span> участие</h3>
         <div class="row">
             <div class="col s12 m6">
                 <div class="center">
                    <span class="card-title center subtitle">ЗАРЕГИСТРИРОВАТЬСЯ КАК КОМАНДА</span>
                    <h5 class="center reginfo"> Команда образовательной организации (5 человек) сможет пройти
                         проектную
                         сессию и составить дорожную карту развития своего объединения</h5>
                    <div class="center">  
                    <button data-target="modal1"  class="regbutton modal-trigger">Подать заявку</button>

<!-- Modal Structure -->

<!-- Register for group of people -->
                            <div id="modal1" class="modal">                          
                                <div class="modal-content" style="text-align: left">
                                    <h5 class="regTitle">Межрегиональный лагерь студенческого самоуправления и личностного развития СКФО "Вектор - 2018": регистрация команды </h5>
                                    <p>Команда образовательной организации состоит из 4-5 участников. Для команд в рамках общей программы будет проведена проектно-стратегическая сессия, в которой они смогут проанализировать систему своей работы и выработать эффективный план дальнейшего развития своего объединения. В состав команды приглашаются лидеры студенческого самоуправления (председатели, заместители председателей советов обучающихся, координаторы направлений деятельности органа студенческого самоуправления, лидеры молодежных объединений). Приветствуется опыт участия в молодежном самоуправлении более 1,5-2 лет. </p>
                                    <%- include('./register-group.ejs')%>
                                </div>
                                
                                <div class="modal-footer">
                                    <a href="javascript:{}" onclick="document.getElementById('add-user').submit();" style="color:#f2d243;" class="fioUser modal-close waves-effect waves-green btn-flat">Принять</a>
                                    <a href="#!" style="color:#f2d243;" class="fioUser modal-close waves-effect waves-green btn-flat">Закрыть</a>
                                </div>
                            </div>                                   
                        </div>
                    </div>
             </div>

<!-- Registration of a one persone -->    

             <div class="col s12 m6">
                 <div class=" container-wrap center">
                     <span class="card-title center subtitle">ЗАРЕГИСТРИРОВАТЬСЯ КАК УЧАСТНИК</span>
                     <h5 class="center reginfo"> Участников ожидает цикл мастер-классов<br> развития личности и
                         работа c
                         индивидуальным планом <br>развития</h5>
                     <div class="center">

                     <button  data-target="modal2"  class="regbutton modal-trigger">Подать заявку</button>
                     
                     <!-- Modal Structure -->
                    <div id="modal2" class="modal">  
                  
                        <div class="modal-content" style="text-align: left">
                            <h5 class="regTitle">Межрегиональный лагерь студенческого самоуправления и личностного развития СКФО "Вектор - 2018": регистрация участника</h5>
                            <p>Участник программы лагеря по траектории "Личностное развитие" в рамках общей программы сможет посетить мастер-классы и проработать индивидуальный план своего развития. Для участия в данном направлении приглашаются активисты студенческого самоуправления и молодежных объединений.</p>
                           
                     <form id="add-user" action="/add-user" method="POST">

                            <div class="row">
                            
                                <div class="input-field col s12">

                                    <%- include('./register-user.ejs')%>
                                    
                                </div>
                        </div>
                                <div class="modal-footer">
                                    <a href="javascript:{}" onclick="document.getElementById('add-user').submit();" style="color:#f2d243;" class="fioUser modal-close waves-effect waves-green btn-flat">Принять</a>
                                    <a href="#!" style="color:#f2d243;" class="fioUser modal-close waves-effect waves-green btn-flat">Закрыть</a>
                                 </div>
                          
                            </div> 
                        </div>
                    </div>
                 </div>
             </div>
         </div>
     </div>
 </div>
</div>
</section>

<!--About section-->

<section id="about">
 <div class="section section-icons  lighten-4 center\">
     <div class="container">
         <div class="row">
             <h3 class="title1 center"> <span class="owncolor">Наша</span> программа </h3>
             <div class="col s12 m6">
                 <div class="card">
                     <div class="card-image waves-effect waves-block waves-light">
                         <img class="activator" src="./image/pro1.jpg">
                     </div>
                     <div class="card-content">
                         <h5 class=" activator text-darken-1">Студенческое самоуправление
                             <i class="material-icons right">more_vert</i>
                         </h5>
                     </div>
                     <div class="card-reveal">
                         <span class="card-title infotitle">Студенческое самоуправление
                             <i class="material-icons right">close</i>
                         </span>
                         <p class="proginfo">Нормативно-правовая база, Организация и технологии проведения
                             выборов,
                             Корпоративная культура, Стратегическое планирование работы, Фандрайзинг,
                             Информационное освещение и
                             др.</p>
                             
                     </div>
                 </div>
             </div>
             <div class="col s12 m6">
                 <div class="card">
                     <div class="card-image waves-effect waves-block waves-light">
                         <img class="activator" src="./image/pro2.jpg">
                     </div>
                     <div class="card-content">
                         <h5 class=" activator text-darken-1">Личностное развитие
                             <i class="material-icons right">more_vert</i>
                         </h5>
                     </div>
                     <div class="card-reveal">
                         <span class="card-title  infotitle">Личностное развитие
                             <i class="material-icons right">close</i>
                         </span>
                         <p class="proginfo">Лидерство, Личная эффективность,<br> Работа в команде, Мотивация и
                             др.</p>
                     </div>
                 </div>
             </div>
         </div>
         <div class="row">
             <div class="col s12 m6">
                 <div class="card">
                     <div class="card-image waves-effect waves-block waves-light">
                         <img class="activator" src="./image/pro3.jpg">
                     </div>
                     <div class="card-content">
                         <h5 class=" activator text-darken-1">Ассессмент-центр
                             <i class="material-icons right">more_vert</i>
                         </h5>
                     </div>
                     <div class="card-reveal">
                         <span class="card-title infotitle">Ассессмент-центр
                             <i class="material-icons right">close</i>
                         </span>
                         <p class="proginfo">Сюжетно-игровой сценарий оценки личностных компетенций и
                             формирование индивидуального профиля развития навыков</p>
                     </div>
                 </div>
             </div>
             <div class="col s12 m6">
                 <div class="card">
                     <div class="card-image waves-effect waves-block waves-light">
                         <img class="activator" src="./image/pro4.jpg">
                     </div>
                     <div class="card-content">
                         <h5 class=" activator text-darken-1">Практическая работа
                             <i class="material-icons right">more_vert</i>
                         </h5>

                     </div>
                     <div class="card-reveal">
                         <span class="card-title infotitle">Практическая работа
                             <i class="material-icons right">close</i>
                         </span>
                         <p class="proginfo">Проектная сессия команд по анализу и развитию органов студенческого
                             самоуправления, деловые и досуговые игры</p>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </div>
</section>




<!--Team section-->


<%- include('./team.ejs')%>


<!--Contacts section-->
<section id="contacts">
 <div class="section section-icons white lighten-4 center\">
     <div class="container">
         <div class="section">
             <div class="row">
                 <div class="col s12 center">
                     <h3>
                         <i class="mdi-content-send brown-text"></i>
                     </h3>
                     <h3 class="title1 center "> <span class="owncolor">Наши</span> партнёры</h3>
                     <p id="mail" class="center-align light">Если вы хотите стать нашим партнёром или у вас
                         остались <br>
                         вопросы,
                         свяжитесь с нами по почте
                         <div class="input-field col s6">
            <label style="font-size: 18px;" for="parDate">Дата рождения участника</label>   
            <input type="text" class="datepicker"  placeholder="Заполните поле" name="parDate" id="parDate">
        </div>
                         <span style="color: #f2d243; text-shadow: 1px 1px 1px #000000"> Vectorskfo@gmail.com</span>
                     </p>
                 </div>
             </div>
         </div>
     </div>
 </div>
</section>

<!-- Partnership -->

<section id="partners">
 <div class="container">
     <div>
         <div class="row">
             <div class="col s12 m3">
                 <a target="_blank" href="http://www.ruy.ru/"> <img id="rsm" class="spons" src="./image/spons2.png">
                 </a>
             </div>
             <div class="col s12 m3">
                 <a target="_blank" href="https://vk.com/aso_russia26"> <img class="spons" src="./image/aso.png"></a>
             </div>
             <div class="col s12 m3">
                 <a target="_blank" href="http://www.ncfu.ru/"> <img class="spons" src="./image/spons3.png"></a>
             </div>
             <div class=" col s12 m3">
                 <a target="_blank" href="https://fadm.gov.ru/"> <img class="spons" src="./image/spons1.png"></a>
             </div>
         </div>
     </div>
 </div>
</section>
</main>
<%- include('../layouts/footer.ejs') %>