<%if(roleId) { %>

<%- include('../layouts/navbar.ejs')%>

<% if(teams.length > 0) { %>
<div class="container teams-card">
 <h1 class="title2 center"> <span class="owncolor">Список </span> команд  </h1>
        <div class="row">
            <% for(let team of teams)  { %>

                <div class="col s12 m3">
                    <div class="card">
                        <div class="card-image">
                            <img src="<%= team.photo %>">
                            <span class="parFio card-title"><%= team.t_name %></span>
                        </div>
                        <div class="card-action">
                             <div class="inline">
                             
                                <a href="/team-details/<%=team.id%>"><i class="right more fas fa-info-circle"></i></a>
                                
                             <% if( roleId != 4 && user.teamStatus === "Заявка подана" && status.teamId === team.id) {%>

                                   <form class="rethink " action="/teammate-cancellation" method="POST">
                                        <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                                        <input type="hidden" name="teamId" value="<%=team.id%>">
                                        <button type='submit'  class="right uniqbtn"> <i class=" more far fa-check-circle"></i> </button>
                                    </form>  

                             <% } %>

                                <% if( user.teamStatus === "Команды нет" ) { %>                                   
                                    <form action="/teammate-request" method="POST">
                                        <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                                        <input type="hidden" name="teamId" value="<%=team.id%>">
                                        <button type='submit'  class="right uniqbtn"> <i class="more fas fa-plus-circle"></i> </button>
                                    </form>                                 
                                    <% } else if( user.teamStatus === "Принят" && user.teamId === team.id ) {%>
                                      <form action="/teammate-cancellation" method="POST">
                                            <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                                            <input type="hidden" name="teamId" value="<%=team.id%>">
                                            <button type='submit'  class="right uniqbtn"> <i class="more fas fa-minus-circle"></i> </button>
                                        </form>    
                                    <% } %>
                                     <%if(team.userId === userId) { %>
                                        <a  href="/edit-team/<%=team.id %>?edit=ture"><i class="left more fas fa-edit"></i></a>
                                    <% }  %>
                             </div>
                        </div>
                    </div>
                </div>

            <% } %>

        </div>

<% } else { %>

    <div class="container  teams-card">
        <h3 class="center title1"> В списке нет команд </h3>
    <a class="right linkButton" href="/add-team" alt="Создать свою команду"> Добавить </a>  
    </div>

<% } %>

</div>
<%- include('../layouts/footer.ejs') %>


<% } else {%>
 <h1> Her </h1>
 <% } %>