<%- include('../layouts/navbar.ejs')%>



<% if(teams.length > 0) { %>

<div class="container teams-card">
    <h1 class="title2 center"> <span class="owncolor">Список </span> команд</h1>
    
    <div class="row">
    <%  for(let team of teams) { %>
        <div class="col s12 m3">
            <div class="card">
            <div class="card-image">
                <img src="<%= team.photo %>">
                <span class="parFio card-title"><%= team.t_name %></span>
            </div>
           
                <div class="card-action">
                    <div class="inline">
                            <a href="/team-details/<%=team.id%>"><i class="left more fas fa-info-circle"></i></a>
                        <% if(  teamId === team.id  && team.userId != userId ) {%>
    
                        
                            <a href="#modal1" class="modal-trigger"><i class="left more far fa-check-circle"></i></a>
                            
                            <div id="modal1" class="modal">
                                  <div class="modal-content">
                                    <h4 class="regTitle">Заявка в команду <%= team.t_name %></h4>
                                    <p>После принятия вас в команду как учачстника, ваша заявка будет рассматриваться, как команда. Если запрос команды  будет отклонен, вы решаетесь шанса стать участником мероприятия. Вы действительно хотите стать участником команды <%= team.t_name %>?</p>
                                  </div>
                                  <div class="modal-footer">
                                  <form id="teamCancleRequest" action="/teammate-cancellation" method = "POST">
                                        <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                                        <input type="hidden" name="teamId" value="<%=team.id%>">
                                        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Отменить</a>
                                        <a href="javascript:{}"  class="modal-close waves-effect waves-green btn-flat" onclick="document.getElementById('teamCancleRequest').submit();">Отклонить</i></a>
                                    </form>
                                  </div>
                                </div>
                         
                        <% } else if(team.userId != userId && teamId === 0 ) { %>
     
                                <a href="#modal1" class="modal-trigger"><i class="left more fas fa-plus-circle"></i></a>
                                <!-- Check a user request -->
                                <div id="modal1" class="modal">
                                  <div class="modal-content">
                                    <h4 class="regTitle">Заявка в команду <%= team.t_name %></h4>
                                    <p>После принятия вас в команду как учачстника, ваша заявка будет рассматриваться, как команда. Если запрос команды  будет отклонен, вы решаетесь шанса стать участником мероприятия. Вы действительно хотите стать участником команды <%= team.t_name %>?</p>
                                  </div>
                                  <div class="modal-footer">
                                    <form id="teamAddRequest" action="/teammate-request" method = "POST">
                                        <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                                        <input type="hidden" name="teamId" value="<%=team.id%>">
                                        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Отменить</a>
                                        <a href="javascript:{}"  class="modal-close waves-effect waves-green btn-flat" onclick="document.getElementById('teamAddRequest').submit();">Принять</i></a>
                                    </form>
                                  </div>
                                </div>
                     
                        <% }  else if(team.userId === userId) { %>
                            <a href="#modal1"><i class="left more fas fa-edit"></i></a>
                        <% } %> 
                    
                    </div>   
                </div>
            </div>
        </div>
        <% } %>
    </div>
    <div class="row"> 
    
        <% if(roleId === 5 && !teamId) { %>
            <a class="right linkButton" href="/add-team" alt="Создать свою команду"> Добавить </a>  
        <% } %>
    </div>

</div>
<% } %>



<%- include('../layouts/footer.ejs') %>