<%- include('../layouts/navbar.ejs')%>


    <div class="container user-card">
        <article class="hidden"> <%= team.id%> </article>
        <div class="row edit-person">
            <div class="col s12 m4 left">
            <ul class="contact-info">
                 <img class="mamber materialboxed z-depth-2 responsive-img circle" width="500px" src="/<%= team.photo %>">
            <span id="per-info"> Основная информация</span> 
            <%  for(let user of users ) { %>
                <% if(user.roleId === 4) { %>
                <li >ФИО лидера комады:</li>
                <li class="team-info"> <%= user.surname %> <%= user.name %> <%= user.secondname %> </li>
                <li >Контакты лидера:</li>
                <li class="team-info"><%= user.social%> </li> 
                <li>Город команды:</li>
                <li class="team-info"><%= user.city%> </li> 
                <li>Учебное заведение команды:</li>
                <li class="team-info"> <%= user.univercity %></li>
                <li>Контакты команды::</li>
                 <li><a class="team-info" href="<%= team.t_social %>"> Email</i></a></li>  
                <% } %>
            <%} %>
            </ul>   
            </div>
    
    <div class="col s12 m8">
            <div>
                <p class="team-title  profile-text"><%= team.t_name %></p>
                    <p class="team-desctiption">  <span style="color:black;"></p> 
                    <ul class="collection with-header">
                    <li class="collection-header"><h6>Команда</h6></li>
                    <%  for(let user of users ) { %>
                    <a href="#!" class="collection-item"><%= user.surname %> <%= user.name %><%= user.secondname %></a>  
                    <% } %>
                    </ul>
                </p>
            </div>
        </div>
    </div>

    <div class="row">        
    <% if (roleId === 4) { %>
        <a class="right linkButton" href="/edit-team/<%=team.id %>?edit=ture">Изменить </a>
        <form action='/delete-team' id="delete-team" method="POST">
            <input type="hidden" name="_csrf" value="<%=csrfToken%>">
            <input type="hidden" name="teamId" value="<%=team.id%>">
            <a href="javascript:{}" onclick="document.getElementById('delete-team').submit();" class=" right linkButton"> Удалить </a>
        </form>

       
    <% } %>
        
    </div> 
</div>  
</div>     

<%- include('../layouts/footer.ejs') %>
